{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist - Getting Started API",
    "description": "I work hard to try and keep my APIs as easy to onboard, and get to work making requests in as few clicks as possible. Here are a few steps you should be considering as you are getting started using this API.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "getting-started.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getting-started/": {
      "get": {
        "summary": "Get Getting Started",
        "description": "retrieves all getting-started entries",
        "operationId": "getGetting Started",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across getting-started entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the getting-started entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Getting Started",
        "description": "add getting-started",
        "operationId": "addGettingStarted",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the getting-started entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/getting-started/{getting_started_id}/": {
      "delete": {
        "summary": "Delete Getting Started",
        "description": "delete an getting-started entry",
        "operationId": "deleteGettingStarted",
        "parameters": [
          {
            "in": "path",
            "name": "getting_started_id",
            "description": "id for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the getting-started entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Getting Started",
        "description": "retrieve a specific getting-started entry",
        "operationId": "getGettingStartedEntry",
        "parameters": [
          {
            "in": "path",
            "name": "getting_started_id",
            "description": "id for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Getting Started",
        "description": "update an getting-started entry",
        "operationId": "updateGettingStarted",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the getting-started entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/getting-started/{getting_started_id}/keys/": {
      "post": {
        "summary": "Add Getting Started Key",
        "description": "Add getting-started key",
        "operationId": "addGettingStartedKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "getting_started_id",
            "description": "unique id of the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the getting-started entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the getting-started entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/getting-started/{host}/default/": {
      "post": {
        "summary": "Set Default Getting Started For Host",
        "description": "set default getting-started for host",
        "operationId": "setDefaultGettingStartedForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "getting_started_id",
            "description": "unique id of the getting-started entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the getting-started entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the getting-started entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/getting-started/{host}/": {
      "get": {
        "summary": "Get Getting Started by Host",
        "description": "retrieves all getting_started entries by host",
        "operationId": "getGetting Started",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across getting-started entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the getting-started entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "getting-started response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getting_started"
              }
            }
          }
        },
        "tags": [
          "Getting Started"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "getting_started": {
      "properties": {
        "getting_started_id": {
          "description": "The unique id for the getting-started entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the getting-started entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the getting-started entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the getting-started entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the getting-started entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the getting-started entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the getting_started key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the getting-started entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the getting-started entry.",
          "type": "string"
        },
        "getting_started_id": {
          "description": "The unique id for the getting-started entry.",
          "type": "string"
        }
      }
    }
  }
}
