{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist - Getting Started API",
		"description": "I work hard to try and keep my APIs as easy to onboard, and get to work making requests in as few clicks as possible. Here are a few steps you should be considering as you are getting started using this API.",
		"termsOfService": "http://kinlane.com/terms-of-service.html",
		"version": null
	},
	"host": "getting-started.api.apievangelist.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/getting-started/": {
			"get": {
				"summary": "Get Getting Started",
				"description": "retrieves all getting-started entries",
				"operationId": "getGetting Started",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "host",
					"description": "host for the getting-started entry"
				},
				{
					"in": "query",
					"name": "query",
					"description": "a text query to search across getting-started entries"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			},
			"post": {
				"summary": "Add Getting Started",
				"description": "add getting-started",
				"operationId": "addGettingStarted",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "footer",
					"description": "footer for the getting-started entry"
				},
				{
					"in": "query",
					"name": "header",
					"description": "header for the getting-started entry"
				},
				{
					"in": "query",
					"name": "host",
					"description": "host of the getting-started entry"
				},
				{
					"in": "query",
					"name": "image",
					"description": "image for the getting-started entry"
				},
				{
					"in": "query",
					"name": "title",
					"description": "title of the getting-started entry"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			}
		},
		"/getting-started/{getting_started_id}/": {
			"delete": {
				"summary": "Delete Getting Started",
				"description": "delete an getting-started entry",
				"operationId": "deleteGettingStarted",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "path",
					"name": "getting_started_id",
					"description": "id for the getting-started entry"
				},
				{
					"in": "query",
					"name": "host",
					"description": "host for the getting-started entry"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			},
			"get": {
				"summary": "Get Getting Started",
				"description": "retrieve a specific getting-started entry",
				"operationId": "getGettingStartedEntry",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "path",
					"name": "getting_started_id",
					"description": "id for the getting-started entry"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			},
			"put": {
				"summary": "Update Getting Started",
				"description": "update an getting-started entry",
				"operationId": "updateGettingStarted",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "footer",
					"description": "footer for the getting-started entry"
				},
				{
					"in": "query",
					"name": "header",
					"description": "header for the getting-started entry"
				},
				{
					"in": "query",
					"name": "host",
					"description": "host for the getting-started entry"
				},
				{
					"in": "query",
					"name": "image",
					"description": "image for the getting-started entry"
				},
				{
					"in": "query",
					"name": "title",
					"description": "title of the getting-started entry"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			}
		},
		"/getting-started/{getting_started_id}/keys/": {
			"post": {
				"summary": "Add Getting Started Key",
				"description": "Add getting-started key",
				"operationId": "addGettingStartedKey",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "description",
					"description": "description for the getting-started entry key"
				},
				{
					"in": "query",
					"name": "getting_started_id",
					"description": "unique id of the getting-started entry"
				},
				{
					"in": "query",
					"name": "name",
					"description": "name of the getting-started entry key"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			}
		},
		"/getting-started/{host}/": {
			"get": {
				"summary": "Get Getting Started by Host",
				"description": "retrieves all getting_started entries by host",
				"operationId": "getGetting Started",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "host",
					"description": "host for the getting-started entry"
				},
				{
					"in": "query",
					"name": "query",
					"description": "a text query to search across getting-started entries"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			}
		},
		"/getting-started/{host}/default/": {
			"post": {
				"summary": "Set Default Getting Started For Host",
				"description": "set default getting-started for host",
				"operationId": "setDefaultGettingStartedForHost",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "your appid for accessing the API"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "your appkey for accessing the API"
				},
				{
					"in": "query",
					"name": "description",
					"description": "description for the getting-started entry key"
				},
				{
					"in": "query",
					"name": "getting_started_id",
					"description": "unique id of the getting-started entry"
				},
				{
					"in": "query",
					"name": "name",
					"description": "name of the getting-started entry key"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Getting Started"],
				"security": []
			}
		}
	},
	"definitions": {
		"getting_started": {
			"properties": {
				"getting_started_id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"title": {
					"description": "This is a default description.",
					"type": "get"
				},
				"image": {
					"description": "This is a default description.",
					"type": "get"
				},
				"header": {
					"description": "This is a default description.",
					"type": "get"
				},
				"footer": {
					"description": "This is a default description.",
					"type": "get"
				},
				"keys": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"keys": {
			"properties": {
				"key_id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"name": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				},
				"getting_started_id": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}